<div id="container">
  <div id="conversation">
    <h2>Your conversations</h2>
    <ul>
      <% @users.each do |user| %>
        <li>
      <%= link_to user.email, user_conversation_path(user) %>
      </li>
    <% end %>
    </div>
    <div id="talkingdead">
      <img src="/assets/zombie_convo.jpg" alt="Talking Dead">
    </div>
  </ul>
</div>
