<div id="container">
  <div id=profile>
    <img id="zombiemirror" src="/assets/zombie_mirror.jpg" alt="Zombie Mirror">
    <h2>Edit Your Profile</h2>
    <%= render "form", user: @user %>
  </div>
</div>
