<h2>Welcome to <%= @user.email %>'s Page</h2>
<p><%= image_tag @user.image %></p>
<h3>Personal Statement:</h3>
<p><%= @user.personal_statement %></p>
<h4><%= link_to "Edit Profile", edit_user_path(@user) %></h4>
