#background {
  @include span-columns(8);
  @include shift(2);
  margin-top: 100px;
  background-image: image-url(""zombie_questions.jpg");
  height: 600px;
}

#questionnaire {
  margin-top: 100px;
  @include span-columns(8);
  @include shift(2);
  color: white;
}

#questionnaire h2 {
  color: #D92500;
}
